.container{
    margin: 40px;
    color: oldlace;
}
.contain{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .card {
        margin: 20px 50px;
    }
    h2{
        margin: 20px;
    }
    img {
        width: 400px;
    }
    img:hover{
        border: 3px solid white;
        cursor: pointer;
    }
}

